* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* PARTE SUPERIOR*/
nav {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d3d3d3;
}

ul {
  cursor: pointer;
    display: flex;
    gap: 100px;
    list-style: none;
    margin-left: 100px;
}
li{
    font-size: 12px;
    font-weight: 400;
    color: #373737 ;
}
.Cor-li1:hover{
    color:#81A5C4 ;
}
.Cor-li2:hover{
    color:#F7DA47 ;
}
.Cor-li3:hover{
    color: #C1C1C1;
}
.Cor-li4:hover{
    color:#272d33 ;
}
.Cor-li5:hover{
    color: #b50012;
}
.Cor-li6:hover{
    color: #b55af1 ;
}


#logo {
    height: 30px;

}


/* PARTE INFERIOR*/
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;


}

/*.caixa-texto {}*/

.titulo-ihpone {
    font-size: 30px;


}

.titulo-secundario {
    font-size: 40px;
    margin: 10px 0 20px 0;
}

.paragrafo {
    font-size: 15px;
    margin-bottom: 25px;
}

.preco {
    font-size: 15px;
    color: #626262;
    font-weight: 300px;
    margin-bottom: 30px;


}

.button {
    width: 167px;
    background: linear-gradient(to right,#272d33, #C1C1C1);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 3s ease-in-out;




}
.button img{
    width: 30px;
    display: none;
}
.button:hover{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
}
.button:hover img{
display: block;
}

.escolha-cor {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
    color: #494949
}

.troca-cor {
    width: 40px;
    height: 40px;
    background-color: #81a5c4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.social-links{
    display: flex;
    
    align-items: center;
}
.social-links img{
    height: 20px;
    margin: 20px;
    cursor: pointer;
}

.azul {
    background-color: #81A5C4;

}

.amarelo {
    background-color: #F7DA47;
}

.braco {
    background-color: #C1C1C1;
}

.preto {
    background-color: #272d33;
}

.vermelho {
    background-color: #b50012;
}

.roxo {
    background-color: #b55af1;
}
.circulo{
    width: 100%;
    height: 100%;
    background: #81A5C4;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(650px at right 1000px);
    
}

.Iphone {
    width: 350px;
    margin-top: 27px;
    z-index: 99;

    animation: moverIphone 2s infinite alternate ease-in-out;


}


@keyframes moverIphone {
    from {
      transform: translate(-2%, -2%) rotate(-5deg) ;
    }
}